body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(#bdc3c7, #2c3e50);
    background-attachment: fixed;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 280px;
    height: 350px;
    background-color: rgba(74, 81, 87, 0.8);
    border-radius: 3%;
    /* opacity: 0.85; */
}

#input {
    font-size: 20px;
    color: #acbe9f;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3px;
}

.title {
    color: #2f2e3e;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.totalBtn {
    display: flex;
    justify-content: space-around;
}

.btn {
    margin: 2px;
    width: 100%;
    padding: 10px 25px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #181818;
    color: #bdc3c7;
    border: none;
    border-radius: 10%;
}

.btn:hover {
    opacity: 0.5;
    cursor: pointer;
}

.equalsBtn {
    background-color: #990b0b;
}

.operateBtn, .clearBtn, .deleteBtn, .bracketsBtn {
    background-color: #86879f;
    color: #181818;
}

.screen {
    display: flex;
    justify-content: flex-end;
}

input[type = "text"]:focus {
    background-color: transparent;
    outline: none;
}